.text-align{
	text-align:center;
}
@media screen and (max-width: 39.9375em) {
	.left{
		text-align:left;
	}
	.right{
		text-align:right;
	}
	
}
body{
	background-color: lightgray;
}
header{
	border-bottom: 0.2em groove blueviolet;
	background-color: ;
}
ul{
	margin:0;
	list-style: none;
	padding:0;
}

p{
	text-align:justify;
}

h1{
	
}
